/*--------Stuff that's used in multiple places--------*/
/*---Create New Thing---*/ /*TODO: Add to style_general*/
.create-form { /*General*/
    position: sticky;
    bottom: 0;
    width: 100%;
    height: var(--create-height);
    padding-top: 13px;

    /*separator at top*/
    border-style: solid none none none;
    border-width: 1px;
    border-color: var(--col-accent);
}

.create-form .tooltipcontainer { /*Container of input field and tooltip above it*/
    width: 50%;
    margin-right: 30px;
    float: right;
}

.create-form .tooltip { /*The tooltip itself*/
    visibility: hidden;

    width: fit-content;
    position: absolute;
    bottom: 95%;
    z-index: 1;
    margin-right: 20px;

    background-color: black;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    padding: 5px;
}

.create-form .tooltip::after { /*Triangle below tooltip box*/
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

@keyframes popupcolor { /*Animation when submitting while tooltip active*/
    0% {background: red;}
    50% {background: red;}
    100% {background: black;}
}

input[type=submit] { /*Submit button*/
    width: 91%;
    line-height: 20px;       /*vertical size of button 45px*/
    margin-top: 5px;
    color: var(--col-text);
    border: 3px solid var(--col-accent);
}

/*TODO: Other Browsers*/
.side :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

.side ::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}
