:root {
    --cursorForLink: pointer;
    --font1: Verdana, "Lucida Sans";
    --font2: Arial, serif;

    /*---Colors---*/
    --col-background: #ffffff; /*white*/
    --col-side: #dddddd; /*grey*/
    --col-accent: #8a54bf; /*purple*/
    --col-accent2: #db5ab2; /*pink*/
    --col-hover: #5d2f8a; /*dark purple*/
    --col-click: #391d54; /*even darker purple*/
    --col-textbox: #ffffff;
    --col-text: #000000;

    /*---Gradient---*/
    --grad-begin: 60px;
    --grad-end: 100px;

    /*---Other things---*/
    --sidebar-width: max(150px, min(200px, 20vw)); /*min: 100px, max: 200px, default: 10vw*/
    --create-height: 75px; /*Height of Create X (f.e. Create Class)*/
}

/*---General Stuff---*/
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: red;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(var(--col-accent) var(--grad-begin), var(--col-background) var(--grad-end), var(--col-background));
}

h1 {
	margin-top: 0;
	padding: 0;
}

/*-------------------- Sidebar (Left) --------------------*/
aside { /*Sidebar General*/
    width: calc(var(--sidebar-width) + 20px);   /* +20px to mach the offset of the logo*/
    min-height: 100%;   /* Even if it's not full, it'll reach the bottom of the page */
    float: left;

    background: var(--col-side);
    box-shadow: inset -5px 0 0px var(--col-accent);
}

aside img { /*Sidebar Logo*/
    height: calc(var(--grad-end) - 20px);
    width: calc(var(--sidebar-width) - 4px);
    margin: 10px 14px 10px 10px;
    margin-right: 14px;
    object-fit: fill; /*Options: cover, fill, contain, none*/
}

nav ul { /*Sidebar List*/
    list-style-type: none; /*no dots before list entry*/
    padding-left: 0px;
    margin-top: 0px;

    /*separator at top and bottom*/
    border-style: solid none;
    border-width: 2px;
    border-color: var(--col-accent);
}

nav a { /*Sidebar List Entry*/
    line-height: 45px;       /*vertical size of button*/
    padding-left: 10px;
    display: block;         /*change size to match the list element*/

    /*separator between list elements*/
    border-style: solid solid solid none;
    border-width: 2px 4px;
    border-color: var(--col-accent);

    font-family: var(--font1);
    font-size: 18px;
    text-decoration: none;
    background-color: var(--col-sidebar);
    color: var(--col-text);
}

nav a:hover { /*Sidebar List Entry when hovered over*/
    text-decoration: none;
    color: var(--col-side);
    background-color: var(--col-hover);
}

nav a:active { /*Sidebar List Entry when clicked*/
    text-decoration: none;
    color: var(--col-side);
    background-color: var(--col-click);
}

/*--- Sidebar Current Position ---*/
.current { /*Current Page in Sidebar*/
    background: var(--col-background);

    /*separator between list elements*/
    border-style: solid solid solid solid;
    border-width: 2px 4px 2px 4px;
    border-color: var(--col-accent) var(--col-background) var(--col-accent) var(--col-accent2);
}

.current:hover { /*Current Page when hovered*/
    border-style: solid solid solid solid;
    border-width: 2px 4px 2px 4px;
    border-color: var(--col-accent) var(--col-hover) var(--col-accent) var(--col-accent2);
}

/*-------------------- Main Body --------------------*/
.main { /*Main Body General*/
    min-height: 100%;
    min-width: 500px;
    width: 63vw;

    float: left;
	position: sticky;


	font-family: var(--font1);
	text-align:center;
}

.main h1 { /*Header inside the Gradient*/
    margin-top: 10px;
    font-size: calc(var(--grad-begin) - 20px);

    color: var(--col-background);
    -webkit-text-stroke: 2px var(--col-text); /* width and color */
}

.inner { /*Content inside lower part of gradient*/
    margin-top: calc(var(--grad-end) - var(--grad-begin));   /* 30px away from end of gradient */
    margin-left: 20px;
    margin-right: 20px;
}

/*-------------------- Side Body (Right) --------------------*/
.side { /*Side Body General*/
    min-height: 100%;
    height: 100%;
    overflow: hidden;
	position: sticky;

	/*Flexible layout inside*/
	display: flex;
	flex-direction: column;

	font-family: var(--font1);
	text-align:center;

	background: var(--col-side);
	background-size:100%;
	box-shadow: inset 5px 0 0px var(--col-accent);
}

/*---Searchbar---*/
.side .textinput.searchbar {
    width: 90%;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 10px;
}


/*---List of Classes---*/
.side ul { /*List of Classes*/
    height: 100%;
    overflow: auto;
    flex: 1;
    list-style-type: none; /*no dots before list entry*/
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: calc(var(--create-height) + 15px);

    text-decoration: none;

    /*separator at top*/
    border-style: solid none none none;
    border-width: 3px;
    border-color: var(--col-accent);
}

.side .elem { /*Entry in List of Classes*/
    line-height: 45px;       /*vertical size of button 45px*/
    padding-left: 10px;
    display: block;         /*change size to match the list element*/
    margin-top: -2px;

    /*separator between list elements*/
    border-style: solid none solid solid;
    border-width: 3px;
    border-color: var(--col-accent);

    font-family: var(--font1);
    font-size: 18px;

    background-color: var(--col-sidebar);
    color: var(--col-text);
}

.side .elem:hover { /*Entry when hovered over*/

    cursor: pointer;
    color: var(--col-side);
    background-color: var(--col-hover);

}

.side .elem:active { /*Entry while clicked*/
    text-decoration: none;
    color: var(--col-side);
    background-color: var(--col-click);
}

/*---Create New Class---*/
.side .bottomform {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--create-height);
    padding-top: 13px;

    /*separator at top*/
    border-style: solid none none none;
    border-width: 3px;
    border-color: var(--col-accent);
}

.side .textinput {
    width: 50%;
    padding: 2px;
    outline: none; /*No blue border when selected*/

    border: 3px solid var(--col-accent);
    background: var(--col-textbox); /*Boxfarbe*/
    color: var(--col-text);
}

.side .textinput:focus {
    border: 3px solid var(--col-accent2);
    background: var(--col-textbox); /*Boxfarbe*/
    color: var(--col-text); /*Schriftfarbe*/
}

.side .textinput::placeholder{
    color: var(--col-text);
    opacity: 0.7; /* Firefox */
}

.side .textinput:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--col-text);
    opacity: 0.7; /* Firefox */
}

.side input[type=submit] {
    width: 91%;
    line-height: 20px;       /*vertical size of button 45px*/
    margin-top: 5px;
    color: var(--col-text);
    border: 3px solid var(--col-accent);
}
/*TODO: Other Browsers*/
.side :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

.side ::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}
