:root {
    --cursorForLink: pointer;
    --font1: Verdana, "Lucida Sans";
    --font2: Arial, serif;

    /*---Colors---*/
    --col-background: #ffffff; /*white*/
    --col-side: #dddddd; /*grey*/
    --col-accent: #8a54bf; /*purple*/
    --col-accent2: #db5ab2; /*pink*/
    --col-hover: #5d2f8a; /*dark purple*/
    --col-click: #391d54; /*even darker purple*/
    --col-textbox: #ffffff;
    --col-text: #000000;

    /*---Gradient---*/
    --grad-begin: 60px;
    --grad-end: 100px;

    /*---Other things---*/
    --sidebar-width: max(150px, min(200px, 20vw)); /*min: 100px, max: 200px, default: 10vw*/
    --create-height: 75px; /*Height of Create X (f.e. Create Class)*/
}

/*TODO: Scaling*/

/*---General Stuff---*/
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: red;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(var(--col-accent) var(--grad-begin), var(--col-background) var(--grad-end), var(--col-background));
}

h1 {
	margin-top: 0;
	padding: 0;
}

/*--------Stuff that's used in multiple places--------*/

/*---Textinputs---*/
.textinput {
    width: 100%;
    padding: 2px;
    outline: none; /*No blue border when selected*/
    position: relative;

    border: 3px solid var(--col-accent);
    background: var(--col-textbox); /*Boxfarbe*/
    color: var(--col-text);
}

.textinput:focus { /*Textinput when clicked*/
    border: 3px solid var(--col-accent2);
    background: var(--col-textbox); /*Boxfarbe*/
    color: var(--col-text); /*Schriftfarbe*/
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.textinput::placeholder{ /*Text inside, when empty*/
    color: var(--col-text);
    opacity: 0.7; /* Firefox */
}

.textinput:focus::placeholder { /*Text inside, when empty and focused*/
    color: var(--col-text);
    opacity: 0.7; /* Firefox */
}

.searchbar {
    width: 90%;
    line-height: 22px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*---Three Dots Dropdown Menu---*/
.dots-menu {
    height: 25px;
    width: 25px;
    margin: 0px 5px;
}

.dots-menu svg {
    cursor: pointer;
}

.dots-menu .dots-dropdown {
    position: sticky;
    width: 100px;
    height: auto;
    top: 0;

    background: white;
    z-index: 1;
}

/*---Create New Thing---*/
.create-form { /*General*/
    position: sticky;
    bottom: 0;
    width: 100%;
    height: var(--create-height);
    padding-top: 13px;

    /*separator at top*/
    border-style: solid none none none;
    border-width: 3px;
    border-color: var(--col-accent);
}

.create-form .tooltipcontainer { /*Container of input field and tooltip above it*/
    width: 50%;
    margin-right: 30px;
    float: right;
}

.create-form .tooltip { /*The tooltip itself*/
    visibility: hidden;

    width: fit-content;
    position: absolute;
    bottom: 95%;
    z-index: 1;
    margin-right: 20px;

    background-color: black;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    padding: 5px;
}

.create-form .tooltip::after { /*Triangle below tooltip box*/
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

@keyframes popupcolor { /*Animation when submitting while tooltip active*/
    0% {background: red;}
    50% {background: red;}
    100% {background: black;}
}

input[type=submit] { /*Submit button*/
    width: 91%;
    line-height: 20px;       /*vertical size of button 45px*/
    margin-top: 5px;
    color: var(--col-text);
    border: 3px solid var(--col-accent);
}

/*TODO: Other Browsers*/
.side :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

.side ::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

/*---Lists---*/
ul {
    list-style-type: none; /*no dots before list entry*/
    overflow: auto; /*Automatic scrollbar*/
}

.elem { /*Elements inside lists*/
    line-height: 45px; /*vertical size of button*/
    padding-left: 10px;
    display: block; /*change size to match the list element*/

    text-decoration: none; /*Not underlined when visited*/
    font-family: var(--font1);
    font-size: 18px;

    background-color: var(--col-sidebar);
    color: var(--col-text);
}

.elem:hover { /*Sidebar List Entry when hovered over*/
    cursor: pointer;
    color: var(--col-side);
    background-color: var(--col-hover);
}

.elem:active { /*Sidebar List Entry when clicked*/
    color: var(--col-side);
    background-color: var(--col-click);
}


/*-------------------- Sidebar (Left) --------------------*/
aside { /*Sidebar General*/
    width: calc(var(--sidebar-width) + 20px);   /* +20px to mach the offset of the logo*/
    min-height: 100%;   /* Even if it's not full, it'll reach the bottom of the page */
    float: left;

    background: var(--col-side);
    box-shadow: inset -5px 0 0px var(--col-accent);
}

aside img { /*Sidebar Logo*/
    height: calc(var(--grad-end) - 20px);
    width: calc(var(--sidebar-width) - 4px);
    margin: 10px 14px 10px 10px;
    margin-right: 14px;
    object-fit: fill; /*Options: cover, fill, contain, none*/
}

nav ul { /*Sidebar List*/
    padding-left: 0px;
    margin-top: 0px;

    /*separator at top and bottom*/
    border-style: solid none;
    border-width: 2px;
    border-color: var(--col-accent);
}

nav .elem { /*Sidebar List Entry*/
    /*separator between list elements*/
    border-style: solid solid solid none;
    border-width: 2px 4px;
    border-color: var(--col-accent);
}

/*--- Sidebar Current Position ---*/
nav .current { /*Current Page in Sidebar*/
    background: var(--col-background);

    /*separator between list elements*/
    border-style: solid solid solid solid;
    border-width: 2px 4px 2px 4px;
    border-color: var(--col-accent) var(--col-background) var(--col-accent) var(--col-accent2);
}

/*-------------------- Main Body --------------------*/
.main { /*Main Body General*/
    min-height: 100%;
    height: 100vh;
    min-width: 500px;
    width: 63vw;

    float: left;
	position: sticky;

	font-family: var(--font1);
	text-align:center;
}

.main h1 { /*Header inside the Gradient*/
    margin-top: 10px;
    font-size: calc(var(--grad-begin) - 20px);

    color: var(--col-background);
    -webkit-text-stroke: 2px var(--col-text); /* width and color */
}

.main > h2 { /*Please select a Class prompt*/
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide { /*Content that's dependent on a selection*/
    visibility: hidden;
}

#pref_prompt {
    left: 52%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.inner { /*Content inside lower part of gradient*/
    height: 100%;
    margin-top: calc(var(--grad-end) - var(--grad-begin));   /* 30px away from end of gradient */
    display: flex;
    flex-direction: row;
}

/*---Students List---*/
.students-list { /*General*/
    width: 35%;
    height: 100%;
    margin: 0;
    margin-left: 40px;
    padding: 0;

    /*Flexible layout inside*/
    display: flex;
    flex-direction: column;
}

.students-list .title-container { /*Contains title + three dots dropdown*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.students-list h2 {
    margin: 0px;
}

.students-list svg {
    vertical-align:bottom;
    padding: 0px;
    margin-left: 5px;
}

.students-list ul { /*List itself*/
    height: 100%;
    flex: 1;
    padding: 0px;
    margin: 0px;
    margin-bottom: calc(var(--create-height) + 22px);

    /*separator at top*/
    border-style: solid none none none;
    border-width: 4px;
    border-color: var(--col-accent);
}

.students-list .elem { /*List Entry*/
    text-align: left;

    /*separator between list elements*/
    border-style: solid solid solid solid;
    border-width: 2px 4px;
    border-color: var(--col-accent);
}

.students-list .current { /*Current Page in Sidebar*/
    background: var(--col-side);

    /*separator between list elements*/
    border-style: solid solid solid solid;
    border-width: 2px 4px 2px 4px;
    border-color: var(--col-accent) var(--col-background) var(--col-accent) var(--col-accent2);
}

/*---Preferences Menu---*/
.prefs {
    width: 70%;
    height: 100%;
    margin-left: 80px;

    display: flex;
    flex-direction: column;
}

.prefs h3 { /*Titles*/
    padding-left: 20px;
    text-align: left;
}

.prefs .textinput { /*Textinputs*/
    width: 50%;
    margin-left: 20px;
    margin-bottom: 10px;
}

.toggle { /*Button Groups*/
    width: 50%;
    border: 0px;
    display: flex;
    flex-flow: row nowrap;
}

.toggle input { /*Circles from radio button*/
    visibility: hidden;
}

.toggle label { /*Text of button*/
    cursor: pointer;
    padding: 20px;

	font-family: var(--font1);
    font-size: 18px;

	border: solid 4px var(--col-accent);
}

.toggle input:checked + label { /*Selected button*/
    background: var(--col-accent2);
}

.toggle input:hover + label { /*Hovered buttons*/
    color: var(--col-side);
	background: var(--col-hover);
}

.toggle input:active + label { /*Button while clicked*/
    color: var(--col-side);
	background: var(--col-click);
}


/*-------------------- Side Body (Right) --------------------*/
.side { /*Side Body General*/
    min-height: 100%;
    height: 100%;
    overflow: hidden;
	position: sticky;

	/*Flexible layout inside*/
	display: flex;
	flex-direction: column;

	font-family: var(--font1);
	text-align:center;

	background: var(--col-side);
	background-size:100%;
	box-shadow: inset 5px 0 0px var(--col-accent);
}

/*---Searchbar---*/
.side .searchbar {
    margin-top: 0px;
}

/*---List of Classes---*/
.side ul { /*List of Classes*/
    height: 100%;
    flex: 1;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: calc(var(--create-height) + 15px);

    /*separator at top*/
    border-style: solid none none none;
    border-width: 3px;
    border-color: var(--col-accent);
}

.side .elem { /*Entry in List of Classes*/
    margin-top: -2px;

    /*separator between list elements*/
    border-style: solid none solid solid;
    border-width: 3px;
    border-color: var(--col-accent);
}

.side .current { /*Current Page in Sidebar*/
    background: var(--col-background);

    /*separator between list elements*/
    border-style: solid solid solid solid;
    border-width: 2px 4px 2px 4px;
    border-color: var(--col-accent) var(--col-accent2) var(--col-accent) var(--col-background);
}

#class_list_empty {
    position: absolute;
    left: 52%;
    top: 15%;
    transform: translate(-50%, -50%);
    display: none;
}


/* Stuff to override other stuff */
.elem:hover { /*Sidebar List Entry when hovered over*/
    cursor: pointer;
    color: var(--col-side);
    background-color: var(--col-hover);
}

.elem:active { /*Sidebar List Entry when clicked*/
    color: var(--col-side);
    background-color: var(--col-click);
}


/*Testing*/