<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student lists</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_students_list.css') }}">
    <script src="{{ url_for('static', filename='js_new/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js_new/selected.js') }}"></script>
    <script src="{{ url_for('static', filename='js_new/requests.js') }}"></script>
    <script src="{{ url_for('static', filename='js_new/students.js') }}"></script>

    <script src="{{ url_for('static', filename='js_new/students_new.js') }}"></script>
    <script src="{{ url_for('static', filename='js_new/listings_new.js') }}"></script>
</head>
<body>
<!-- ATTRIBUTES ORDER: id class functions style other -->
<!-- TODO: Create Student replace with + button -->

<!------- SIDEBAR ------->
<aside>
    <a href="#home" onclick="switchToHome()">
        <img src="../static/images/chair.png">
    </a>
    <nav><ul>
        <li><a href="#home" onclick="switchToHome()" class="elem">Home</a></li>
        <li><a href="#seating" onclick="switchToSeating()" class="elem">Create seating</a></li>
        <li><a href="#student" onclick="switchToStudents()" class="elem current">Student lists</a></li>
        <li><a href="#room" onclick="switchToClassroom()" class="elem">Classrooms</a></li>
        <li><a href="#about" onclick="switchToAbout()" class="elem">About</a></li>
    </ul></nav>
</aside>

<!------- MAIN BODY ------->
<div class="main">
    <h1>Student Lists</h1> <!--Main Title-->
    <h2 id="student_prompt" style="position: absolute;"><br>Please Select a Class -></h2> <!--Prompt while no class selected -->

    <!-- Container for Student List & Preferences -->
    <div class="inner">
        <!------- Students List ------->
        <div id="student_container" class="students-list hide">
            <!--Prompt while no student selected -->
            <h2 id="pref_prompt" style="position: absolute;"> <- Please Select a Student</h2>

            <!-- Class Title & Dots Menu -->
            <div class="title-container">
                <!-- Title/Text Input when renaming -->
                <form id="class_name_form" onfocusout="renameClass()" onsubmit="renameClass(); return false;">
                    <h2 id="class_name">Class Name Placeholder</h2>
                    <input id="class_name_input" class="textinput" style="display:none" type="text" autocomplete="off">
                    <div id="class_name_tooltip" class="tooltip hide">Tooltip Placeholder</div>
                </form>
                <!-- Three Dots Menu -->
                <div class="dots-menu">
                    <!-- Three Dots Button -->
                    <svg onclick="event.stopPropagation(); showDropdown('dropdown_classname');" xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 25 25" fill="none" stroke="var(--col-dots-button)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                    <!-- Menu itself -->
                    <ul id="dropdown_classname" class="dots-dropdown hide">
                        <li><a class="elem" onclick="openRename()">Rename Class</a></li>
                        <li><a class="elem" onclick="alert('delete');">Delete Class</a></li>
                    </ul>
                </div>
            </div>

            <!-- Search bar -->
            <div class="search_new">
                <input id="student_search" class="textinput searchbar" type="text" autocomplete="off" placeholder="Search...">
                <button class="new_button">+</button>
            </div>
            <!-- Students List -->
            <ul id="student_list"></ul>

            <!-- Create new student -->
            <form class="create-form" onsubmit="createListElement('student_tooltip', 'student_create', 'student'); return false;">
                <label for="student_create">Add Student:</label>
                <div class="tooltipcontainer">
                    <div id="student_tooltip" class="tooltip hide">Tooltip Placeholder</div>
                    <input id="student_create" class="textinput" type="text" autocomplete="off"  name="filename" placeholder="Student Name" >
                </div>
                <input type="submit" value="Create">
            </form>
        </div>

        <!------- Preference List ------->
        <div id="pref_container" class="prefs hide">
            <h3>Name</h3>
            <input id="pref_name" class="textinput pref-input" type="text" autocomplete="off" placeholder="Name">
            <div id="pref_name_tooltip" class="tooltip hide">Tooltip Placeholder</div>

            <h3>Wants to sit next to</h3>
            <!-- Pref0 -->
            <button id="pref0_button" class="pref-add-button" onclick="togglePref(0, 'none', 'flex'); togglePref(1, 'block', 'none');" type="button">Add Student</button>
            <form id="pref0_form" class="pref-form" onsubmit="checkPref(0); return false;" onfocusout="checkPref(0)" style="display:none">
                <div class="pref-input">
                    <input id="pref0" class="textinput" oninput="resetPref(0)" type="text" autocomplete="off" placeholder="Type to search" list="dropdown_list">
                    <div id="pref0_tooltip" class="tooltip hide">Tooltip Placeholder</div>
                </div>
                <button id="pref0_x" class="pref-remove-button" onclick="removePref(0)" type="button">X</button>
            </form>

            <!-- Pref1 -->
            <button id="pref1_button" class="pref-add-button" onclick="togglePref(1, 'none', 'flex'); togglePref(2, 'block', 'none');" type="button">Add Student</button>
            <form id="pref1_form" class="pref-form" onsubmit="checkPref(1); return false;" onfocusout="checkPref(1)" style="display:none">
                <div class="pref-input">
                    <input id="pref1" class="textinput" oninput="resetPref(1)" type="text" autocomplete="off" placeholder="Type to search" list="dropdown_list">
                    <div id="pref1_tooltip" class="tooltip hide">Tooltip Placeholder</div>
                </div>
                <button id="pref1_x" class="pref-remove-button" onclick="removePref(1)" type="button">X</button>
            </form>

            <!-- Pref2 -->
            <button id="pref2_button" class="pref-add-button" onclick="togglePref(2, 'none', 'flex')" type="button">Add Student</button>
            <form id="pref2_form" class="pref-form" onsubmit="checkPref(2); return false;" onfocusout="checkPref(2)" style="display:none">
                <div class="pref-input">
                    <input id="pref2" class="textinput" oninput="resetPref(2)" type="text" autocomplete="off" placeholder="Type to search" list="dropdown_list">
                    <div id="pref2_tooltip" class="tooltip hide">Tooltip Placeholder</div>
                </div>
                <button id="pref2_x" class="pref-remove-button" onclick="removePref(2)" type="button">X</button>
            </form>

            <h3>Should not sit next to</h3>
            <!-- Pref3 -->
            <button id="pref3_button" class="pref-add-button" onclick="togglePref(3, 'none', 'flex')" type="button">Add Student</button>
            <form id="pref3_form" class="pref-form" onsubmit="checkPref(3); return false;" onfocusout="checkPref(3)" style="display:none" >
                <div class="pref-input">
                    <input id="pref3" class="textinput" oninput="resetPref(3)" type="text" autocomplete="off" placeholder="Type to search" list="dropdown_list">
                    <div id="pref3_tooltip" class="tooltip hide">Tooltip Placeholder</div>
                </div>
                <button id="pref3_x" class="pref-remove-button" onclick="removePref(3)" type="button">X</button>
            </form>

            <datalist id="dropdown_list"></datalist>

            <h3>Should sit in the</h3>
            <fieldset class="toggle" id="position">
                <input type="radio" name="position" id="Either" value="0"> <label for="Either">Either</label>
                <input type="radio" name="position" id="Front" value="1"> <label for="Front">Front</label>
                <input type="radio" name="position" id="Back" value="-1"> <label for="Back">Back</label>
            </fieldset>

            <h3>Save Options</h3>
            <fieldset class="toggle">
                <input type="button" id="Save" onclick="saveStudent();"> <label for="Save" style="padding: 15px;">Save Student</label>
                <input type="button" id="Delete"> <label for="Delete" style="padding: 15px;">Delete Student</label>
            </fieldset>
        </div>
    </div>
</div>

<!------- SIDE BODY ------->
<div class="side">
    <h2>List of all Classes</h2>
    <div class="search_new">
        <input type="text" autocomplete="off" placeholder="Search..." class="textinput searchbar" id="class_search"> <!-- Search bar -->
        <button class="new_button">+</button>
    </div>

    <ul id="class_list"></ul> <!-- The List itself -->
    <span id="class_list_empty">No classes found</span>
    <form class="create-form" onsubmit="createListElement('class_tooltip', 'class_create', 'class'); return false"> <!-- Create new Class -->
        <label for="class_create">Create New Class:</label>
        <div class="tooltipcontainer">
            <div class="tooltip hide" id="class_tooltip">Tooltip Text </div>
            <input type="text" autocomplete="off" id="class_create" name="filename" placeholder="Class Name" class="textinput">
        </div>
        <input type="submit" value="Create">
    </form>
</div>

<script>
    var identity = "student";       // identity to use correct functions in listings.js
    window.onload = loadList("class", "class_list");

    // Event Listeners for the Search bars
    const classSearch = document.querySelector('#class_search');
    const studentSearch = document.querySelector('#student_search');
    classSearch.addEventListener("input", (e) => {trimList(e, "class_list")});
    studentSearch.addEventListener("input", (e) => {trimList(e, "student_list")});

    // Event Listeners for the Textinputs (Create Student/Class)
    const createClass = document.getElementById("class_create");
    const createStudent = document.getElementById("student_create");
    const className = document.getElementById("class_name_input");
    const prefName = document.getElementById("pref_name");

    createClass.addEventListener("input", (e) => {checkInput(e, "class_tooltip", "class_list")});
    createStudent.addEventListener("input", (e) => {checkInput(e, "student_tooltip", "student_list")});
    className.addEventListener("input", (e) => {checkInput(e, "class_name_tooltip", "class_list", localStorage.getItem("file_name"), 1)});
    prefName.addEventListener("input", (e) => {checkInput(e, "pref_name_tooltip", "student_list", localStorage.getItem("current_student"))});
</script>
</body>
</html>