<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seating Generator</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>

</head>
<body>
<!------- SIDEBAR ------->
<aside>
    <a href="#home" onclick="switchToHome()">
        <img src="../static/images/chair.png">
    </a>
    <nav><ul>
        <li><a href="#home" onclick="switchToHome()">Home</a></li>
        <li><a href="#seating" onclick="switchToSeating()">Create seating</a></li>
        <li><a href="#student" onclick="switchToStudents()">Student lists</a></li>
        <li><a href="#room" onclick="switchToClassroom()">Classrooms</a></li>
        <li><a href="#about" onclick="switchToAbout()"  class="current">About</a></li>
    </ul></nav>
</aside>

<!------- MAIN BODY ------->
<div class="main" class="inner">
    <h1>Hier könnte ihre Werbung stehen! (About)</h1>
</div>
<script>

</script>
</body>
</html>