<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seating Generator</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>

</head>
<body>
<!------- SIDEBAR ------->
<aside>
    <a href="#home" onclick="switchToHome()">
        <img src="../static/images/chair.png">
    </a>
    <nav><ul>
        <li><a href="#home" onclick="switchToHome()">Home</a></li>
        <li><a href="#seating" onclick="switchToSeating()">Create seating</a></li>
        <li><a href="#student" onclick="switchToStudents()">Student lists</a></li>
        <li><a href="#room" onclick="switchToClassroom()">Classrooms</a></li>
        <li><a href="#about" onclick="switchToAbout()"  class="current">About</a></li>
    </ul></nav>
</aside>

<!------- MAIN BODY ------->
<div class="main">
    <h1>My test area right now :P (About)</h1>
    <div class="inner">
        <form action="{{ url_for('test') }}" method="post" enctype="multipart/form-data">
            <label>Choose file here:
                <input id="in_file" name="files[]" type="file">
            </label>
            <output id="out_file"></output>
            <button>Upload</button>
        </form>
        <label id="lol"></label>
    </div>
</div>
<script>
    // Testing upload possibilities

    document.getElementById('in_file').addEventListener('change', choose_file, false);

    function choose_file(evt) {
            var files = evt.target.files;
            var fragments = [];

            for (var i = 0, f; f = files[i]; i++) {
                fragments.push('<strong>', f.name, '</strong> (', f.type || 'n/a', ') - ', f.size, ' bytes', '<br>');
            }

            document.getElementById('out_file').innerHTML = fragments.join('');
    }

    function post() {
        document.getElementById('lol').innerHTML = "Haha lol";
    }
</script>
<style>
    input[type="file"] {
        display: block;
        margin: 2em;
        padding: 2em;
        border: thin dotted;
        background: #fff;
    }
</style>
</body>
</html>