<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classrooms</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/listings.js') }}"></script>
    <div class="headerContainer">
		<h2>My Classrooms</h2>
	</div>
</head>
<body>
    <div class="container">
        <div class="left" col ="1">
            <ul>
            <li><a href="#home" onclick="switchToHome()">Home</a></li>
            <li><a href="#seating" onclick="switchToSeating()">Create seating</a></li>
            <li><a href="#student" onclick="switchToStudents()">Student lists</a></li>
            <li><a href="#room" onclick="switchToClassroom()">Classrooms</a></li>
            <li><a href="#about" onclick="switchToAbout()">About</a></li></ul>
        </div>
        <div class="center" col="2">
            <h2>List of classrooms:</h2>
            <ul id="var_list">
            </ul>
        </div>
        <div class="right" col="3">
            <h2>Functions</h2>
            <form>
                <label for="filename">New Room:</label><br>
                <input type="text" id="filename" name="filename" value="classroom">
            </form>
            <button style="width:50%" class="popup" onclick="createInformation()">Create
                <span class="popuptext" id="exists">Classroom free already exists!</span>
                <span class="popuptext" id="illegal">Your classroom name should only contain letters and numbers!</span>
            </button>
        </div>
    </div>
<script>
    var identity = "classroom";     // identity to use correct functions in listings.js
    window.onload = getLists();
</script>
</body>
</html>