<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/classroom.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <div class="headerContainer">

		<h2>Classroom</h2>

	</div>
</head>
<body ondragstart="return false;" ondrop="return false;">
    <div class="container">
        <div class="left" col ="1">
            <ul>
            <li><a href="#home" onclick="switchToHome()">Home</a></li>
            <li><a href="#seating" onclick="switchToSeating()">Create seating</a></li>
            <li><a href="#student" onclick="switchToStudents()">Student lists</a></li>
            <li><a href="#room" onclick="switchToClassroom()">Classrooms</a></li>
            <li><a href="#about" onclick="switchToAbout()">About</a></li></ul>
        </div>
    <div class="center" col="2">
        <h2 id="head_text">Classroom </h2>
            <div class="flex-container">
                <div class=" menu desktop-6-cols phone-12-cols">
                    <div class="grid-container grid-parent">
                        {% for x in range(10) %}
                            {% for y in range(10) %}
                                <div class="grid-item"></div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                <div class=" menu desktop-6-cols phone-12-cols">
                    <ul>
                        <li><button onclick="changeColor('white')">Clear</button></li>
                        <li><button onclick="changeColor('lightblue')">Student Desk</button></li>
                        <li><button onclick="changeColor('orange')">Unusable Desk</button></li>
                        <li><button onclick="changeColor('pink')">Teacher Desk</button></li>
                        <li><form>
                            <label for="filename">File name:</label><br>
                            <input type="text" id="filename" name="filename" value="classroom">
                        </form></li>
                        <li>
                            <button class="popup" onclick="sendClassroomToFlask()">Save Classroom
                            <span class="popuptext" id="saved">Classroom saved!</span>
                            <span class="popuptext" id="no_student">Your classroom needs at least one student desk!</span>
                            <span class="popuptext" id="no_teacher">Your classroom needs at least one teacher desk!</span>
                            <span class="popuptext" id="no_student_or_teacher">Your classroom needs at least one student and one teacher desk!</span>
                            </button>
                        </li>
                        <li><button onclick="switchToClassroom()">My Classrooms</button></li>
                        <li><button style="width:50%" onclick="deleteInformation()">Delete this room</button></li>
                    </ul>
                    <p id="demo"></p>
                </div>
            </div>
        </div>
    </div>
<script>
    const grid_length = 10;                                     // set grid length
    const grid_height = 10;                                     // set grid height
    const divs = document.querySelectorAll('.grid-item');       // get divs that make up the grid
    var data = localStorage.getItem('selected');                // get information from classroom_list
    var color = 'white';                                        // set standard color to white
    var grid = Array.from(divs)                                 // create grid from divs
    var classroom = new Array(10);                              // create empty array for classroom data


    // call the start function upon opening the page
    window.onload = start();

    // track if mouse button is held down
    window.mouseDown = false;
    document.onmousedown = function() {
        window.mouseDown = true;
    }
    document.onmouseup = function() {
        window.mouseDown = false;
    }

    // fill classroom with row arrays
    for (var i = 0; i < classroom.length; i++) {
        classroom[i] = new Array(10).fill(0);
    }

    // add mouse events to grid divs
    grid.forEach(div => {
        div.addEventListener('mouseover', addColor);
        div.addEventListener('mousedown', addColorClick);
    });

    // assign ids to grid divs
    var grid_number = 0;
    for (let x = 0; x < grid_height; x++) {
        for (let y = 0; y < grid_length; y++) {
            grid[grid_number].setAttribute("id", x.toString() + y.toString());
            grid_number += 1;
        }
    }

    /*
        Changes the color variable that is used to color the background of grid divs.

        @param color_arg: The new color as a string (e.g. "white")
        @return: void
    */
    function changeColor(color_arg) {
        color = color_arg;
    };

    /*
        Updates the classroom array with new color values.

        @param array_id: The array entry that is to be changed as a double-digit string
        @param color: The new color as a string (e.g. "white")
        return: void
    */
    function changeArray(array_id, color) {
        var x_val = array_id[0]
        var y_val = array_id[1]
        switch(color) {
            case "white":
                classroom[x_val][y_val] = 0;
                break;
            case "lightblue":
                classroom[x_val][y_val] = 1;
                break;
            case "orange":
                classroom[x_val][y_val] = 2;
                break;
            case "pink":
                classroom[x_val][y_val] = 3;
                break;
            default:
        }
    };

    /*
        Changes the background color of a grid div upon downward press of the left mouse button.

        @return: void
    */
    function addColor() {
        if (window.mouseDown) {
            this.style.backgroundColor = color;
            var div_id = this.getAttribute("id");
            changeArray(div_id, color);
        }
    };

    /*
        Changes the background color of a grid.

        @return: void
    */
    function addColorClick() {
        this.style.backgroundColor = color;
        var div_id = this.getAttribute("id");
        changeArray(div_id, color);
    };

    /*
        Converts the classroom array into a text string where the rows are separated by semicolons.

        @return: string of the classroom data
    */
    function arrayToText() {
        var width = detectWidthToTrim();
        var height = detectHeightToTrim();
        var place_semi = 0;
        var text = "";
        var text_untrimmed = "";

        for (let x = 0; x < grid_height; x++) {
            place_semi = 0;
            for (let y = 0; y < grid_length; y++) {
                text_untrimmed += classroom[x][y].toString();
                if (width[0] <= y && y <= width[1] && height[0] <= x && x <= height[1]) {
                    text += classroom[x][y].toString();
                    place_semi = 1;
                }
            }
            text_untrimmed += ";";
            if (place_semi) text += ";";
        }
        var text_array = [text, text_untrimmed];
        return text_array;
    };

    /*
        Detects if columns can be trimmed (are only filled with zeros) from the array representing the classroom data.

        @return: list with two entries describing the interval of columns that can't be trimmed
    */
    function detectWidthToTrim() {
        var start_width = 99;
        var end_width = 0;
        var found_num = 0;
        var entry = 0;

        for (let x = 0; x < grid_height; x++) {
            found_num = 0;
            for (let y = 0; y < grid_length; y++) {
                entry = classroom[x][y];
                if (entry != 0 && found_num == 0) {
                    found_num = 1;
                    if (y < start_width) start_width = y;
                } else if (entry != 0) {
                    if (y > end_width) end_width = y;
                }
            }
        }
        return [start_width, end_width];
    };

    /*
        Detects if rows can be trimmed (are only filled with zeros) from the array representing the classroom data.

        @return: list with two entries describing the interval of columns that can't be trimmed
    */
    function detectHeightToTrim() {
        var start_height = 99;
        var end_height = 0;
        var found_num = 0;

        for (let x = 0; x < grid_height; x++) {
            found_num = 0;
            for (let y = 0; y < grid_length; y++) {
                if (classroom[x][y] != 0) found_num = 1;
            }
            if (found_num == 1) {
                if (x < start_height) start_height = x;
                if (x > end_height) end_height = x;
            }
        }

        return [start_height, end_height];
    };

    /*
        Checks for a valid classroom (at least one teacher and one student desk in the room).

        @return: double-digit string describing whether student and teacher desks are present
    */
    function check_validity() {
        var student_found = 0;
        var teacher_found = 0;
        for (let x = 0; x < grid_height; x++) {
            found_num = 0;
            for (let y = 0; y < grid_length; y++) {
                if (classroom[x][y] == 1) student_found = 1;
                if (classroom[x][y] == 3) teacher_found = 1;
            }
        }
        return student_found.toString() + teacher_found.toString();
    };

    /*
        Sends the string representing the classroom data to the server.

        @return: void
    */
    function sendClassroomToFlask() {
        switch (check_validity()) {
            case "00":
                var popup = document.getElementById("no_student_or_teacher");
                popup.classList.toggle("show");
                return
            case "01":
                var popup = document.getElementById("no_student");
                popup.classList.toggle("show");
                return
            case "10":
                var popup = document.getElementById("no_teacher");
                popup.classList.toggle("show");
                return
            default: break;
        }
        var name = document.getElementById("filename").value;
        var layout_array = arrayToText();
        var popup = document.getElementById("saved");
        popup.classList.toggle("show");

        $.ajax({
            type: "POST",
            url: "{{ url_for("classroom_info") }}",
            data: {"name" : name, "layout": layout_array[0], "layout_untrimmed": layout_array[1]},
        })
    };

    /*
        Fills the grid with a loaded classroom.

        @param room: string of the loaded classroom
        @return: void
    */
    function fillGrid(room) {
        if(room.length <= 0) return;
        var room = room.replace(/;/g, "");

        for (num = 0; num < room.length; num++) {
            switch(room[num]) {
                case "0":
                    grid[num].style.backgroundColor = "white";
                    changeArray(grid[num].getAttribute("id"), "white");
                    break;
                case "1":
                    grid[num].style.backgroundColor = "lightblue";
                    changeArray(grid[num].getAttribute("id"), "lightblue");
                    break;
                case "2":
                    grid[num].style.backgroundColor = "orange";
                    changeArray(grid[num].getAttribute("id"), "orange");
                    break;
                case "3":
                    grid[num].style.backgroundColor = "pink";
                    changeArray(grid[num].getAttribute("id"), "pink");
                    break;
                default: break;
            }
        }
    };

    /*
        Fill grid with information if a classroom is loaded from the server.

        @param text: string of the classroom name
        @return: void
    */
    function getInformation(text){
        var info = $.post("/getclassroomlists", {"result": text}, function(data) {fillGrid(data);});
    }

    /*
        Is called intially to set various data.

        @eturn: void
    */
    function start(){
        getInformation(data);
        document.getElementById('head_text').innerHTML += data;
        document.getElementById('filename').value = data;
        //document.localStorage.removeItem('selected');
    }

    /*
        Deletes the current classroom from the server.

        @return: void
    */
    function deleteInformation() {
        var test = $.post("/delclassroom", { "result": data }, function(data) {alert("Classroom deleted");switchToClassroom();});
    }

</script>
</body>
</html>


