<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <div class="headerContainer">

		<h2>Classroom</h2>

	</div>
</head>
<body ondragstart="return false;" ondrop="return false;">
    <div class="container">
        <div class="left" col ="1">
            <li><a href="#home" onclick="switchToHome()">Home</a></li>
            <li><a href="#seating" onclick="switchToSeating()">Create seating</a></li>
            <li><a href="#student" onclick="switchToStudents()">Student lists</a></li>
            <li><a href="#room" onclick="switchToClassroom()">Classrooms</a></li>
            <li><a href="#about" onclick="switchToAbout()">About</a></li>
        </div>
    <div class="center" col="2">
            <div class="flex-container">
                <div class=" menu desktop-6-cols phone-12-cols">
                    <div class="grid-container grid-parent">
                        {% for x in range(10) %}
                            {% for y in range(10) %}
                                <div class="grid-item"></div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                <div class=" menu desktop-6-cols phone-12-cols">
                    <ul>
                        <li><button onclick="changeColor('white')">Clear</button></li>
                        <li><button onclick="changeColor('lightblue')">Desk</button></li>
                        <li><button onclick="changeColor('orange')">Unusable Desk</button></li>
                        <li><button onclick="changeColor('pink')">Teacher Desk</button></li>
                        <li><form>
                            <label for="filename">File name:</label><br>
                            <input type="text" id="filename" name="filename" value="classroom">
                        </form></li>
                        <li>
                            <button class="popup" onclick="sendClassroomToFlask()">Save Classroom
                            <span class="popuptext" id="Invalid">Invalid classroom!</span>
                            </button>
                        </li>
                        <li><button onclick="switchToClassroomList()">My Classrooms</button></li>
                    </ul>
                    <p id="demo"></p>
                </div>
            </div>
        </div>
    </div>
<script>
    // track if mouse button is held down
    window.mouseDown = false;
    document.onmousedown = function() {
        window.mouseDown = true;
    }
    document.onmouseup = function() {
        window.mouseDown = false;
    }

    // create empty array
    var classroom = new Array(10);
    const grid_length = 10;
    const grid_height = 10;
    for (var i = 0; i < classroom.length; i++) {
        classroom[i] = new Array(10).fill(0);
    }


    const divs = document.querySelectorAll('.grid-item');
    var color = 'white';

    var x = 1;
    var y = 2;

    grid = Array.from(divs)
    grid.forEach(div => {
        div.addEventListener('mouseover', addColor);
        div.addEventListener('mousedown', addColorClick);
    });

    // assign ids to grid divs
    var grid_number = 0;
    for (let x = 0; x < grid_height; x++) {
        for (let y = 0; y < grid_length; y++) {
            grid[grid_number].setAttribute("id", x.toString() + y.toString());
            grid_number += 1;
        }
    }

    console.log("test");
    function changeColor(color_arg) {
        color = color_arg;
    };

    function changeArray(array_id, color) {
        var x_val = array_id[0]
        var y_val = array_id[1]
        switch(color) {
            case "white":
                classroom[x_val][y_val] = 0;
                break;
            case "lightblue":
                classroom[x_val][y_val] = 1;
                break;
            case "orange":
                classroom[x_val][y_val] = 2;
                break;
            case "pink":
                classroom[x_val][y_val] = 3;
                break;
            default:
        }
    };

    function addColor() {
        if (window.mouseDown) {
            this.style.backgroundColor = color;
            var div_id = this.getAttribute("id");
            changeArray(div_id, color);
        }
    };

    function addColorClick() {
        this.style.backgroundColor = color;
        var div_id = this.getAttribute("id");
        changeArray(div_id, color);
    };

    function arrayToText() {
        var width = detectWidthToTrim();
        var height = detectHeightToTrim();
        var place_semi = 0;
        var text = "";
        var text_untrimmed = "";

        for (let x = 0; x < grid_height; x++) {
            place_semi = 0;
            for (let y = 0; y < grid_length; y++) {
                text_untrimmed += classroom[x][y].toString();
                if (width[0] <= y && y <= width[1] && height[0] <= x && x <= height[1]) {
                    text += classroom[x][y].toString();
                    place_semi = 1;
                }
            }
            text_untrimmed += ";";
            if (place_semi) text += ";";
        }
        var text_array = [text, text_untrimmed];
        return text_array;
    };

    function detectWidthToTrim() {
        var start_width = 99;
        var end_width = 0;
        var found_num = 0;
        var entry = 0;

        for (let x = 0; x < grid_height; x++) {
	        found_num = 0;
	        for (let y = 0; y < grid_length; y++) {
                entry = classroom[x][y];
                if (entry != 0 && found_num == 0) {
                    found_num = 1;
                    if (y < start_width) start_width = y;
                } else if (entry != 0) {
                    if (y > end_width) end_width = y;
      	        }
            }
        }
        return [start_width, end_width];
    };

    function detectHeightToTrim() {
        var start_height = 99;
        var end_height = 0;
        var found_num = 0;

        for (let x = 0; x < grid_height; x++) {
	        found_num = 0;
	        for (let y = 0; y < grid_length; y++) {
                if (classroom[x][y] != 0) found_num = 1;
            }
            if (found_num == 1) {
                if (x < start_height) start_height = x;
                if (x > end_height) end_height = x;
            }
        }

        return [start_height, end_height];
    };

    // checks for a valid classroom (at least one teacher and one student desk in the room)
    function check_validity() {
        var student_found = 0;
        var teacher_found = 0;
        for (let x = 0; x < grid_height; x++) {
	        found_num = 0;
	        for (let y = 0; y < grid_length; y++) {
                if (classroom[x][y] == 1) student_found = 1;
                if (classroom[x][y] == 3) teacher_found = 1;
            }
        }
        return student_found.toString() + teacher_found.toString();
    };

    function sendClassroomToFlask() {
        var name = document.getElementById("filename").value;
        var layout_array = arrayToText();

        $.ajax({
            type: "POST",
            url: "{{ url_for("classroom_info") }}",
            data: {"name" : name, "layout": layout_array[0], "layout_untrimmed": layout_array[1]},
        })
    }

    function switchToClassroomList() {
        window.location = "classroom_list";
    }
</script>
</body>
</html>


