<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/selected.js') }}"></script>
    <script src="{{ url_for('static', filename='js/requests.js') }}"></script>
    <script src="{{ url_for('static', filename='js/classroom.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <title>Classroom editor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <div class="headerContainer">

		<h2>Classroom</h2>

	</div>
</head>
<body ondragstart="return false;" ondrop="return false;" onkeypress="rotate(event)">
    <div class="container">
        <div class="left" col ="1">
            <ul>
            <li><a href="#home" onclick="switchToHome()">Home</a></li>
            <li><a href="#seating" onclick="switchToSeating()">Create seating</a></li>
            <li><a href="#student" onclick="switchToStudents()">Student lists</a></li>
            <li><a href="#room" onclick="switchToClassroom()">Classrooms</a></li>
            <li><a href="#about" onclick="switchToAbout()">About</a></li></ul>
        </div>
    <div class="center" col="2">
        <h2 id="head_text">Classroom free</h2>
            <div class="flex-container">
                <div class=" menu desktop-6-cols phone-12-cols">
                    <div class="grid-container grid-parent">
                        {% for x in range(15) %}
                            {% for y in range(15) %}
                                <div class="grid-item"></div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                <div class=" menu desktop-6-cols phone-12-cols">
                    <ul>
                        <li><button onclick="clearAll(classroom, grid)">Clear All</button></li>
                        <li><button onclick="changeColor('white')">Clear Desk</button></li>
                        <li><button onclick="changeColor('lightblue')">Student Desk</button></li>
                        <li><button onclick="changeColor('orange')">Unusable Desk</button></li>
                        <li><button class="popup" onclick="changeColor('pink')">Teacher Desk
                            <span class="popuptext" id="popup_teacher">Free space</span>
                            </button>
                        </li>
                        <li><form>
                            <label for="filename">File name:</label><br>
                            <input type="text" id="filename" name="filename" value="classroom">
                        </form></li>
                        <li>
                            <button class="popup" onclick="pre_saveData()">Save Classroom
                                <span class="popuptext" id="popup_save">Free space</span>
                            </button>
                        </li>
                        <li><button onclick="switchToClassroom()">My Classrooms</button></li>
                        <li>
                            <button class="popup" onclick="deleteInformation()">Delete this room
                                <span class="popuptext" id="popup_del">Free space</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<script>
    const grid_length = 15;                                     // set grid length
    const grid_height = 15;                                     // set grid height
    const divs = document.querySelectorAll('.grid-item');       // get divs that make up the grid
    var data = localStorage.getItem('selected');                // get information from classroom_list
    var color = 'white';                                        // set standard color to white
    var grid = Array.from(divs);                                // create grid from divs
    var classroom = new Array();                                // create empty array for classroom data
    var identity = "classroom";                                 // identity to use general functions
    var teacher_desk_count = 2;                                 // the number of teacher desks in the room
    var orientation = 0;                                        // orientation for double tables; 0 = horizontally
    var double = true;                                          // whether a double or single table should be placed
    var mouse_div = null                                        // the div the mouse currently hovers over

    // call the start function upon opening the page
    window.onload = start();

    // track if mouse button is held down
    window.mouseDown = false;
    document.onmousedown = function() {
        window.mouseDown = true;
    };
    document.onmouseup = function() {
        window.mouseDown = false;
    };


    // add mouse events to grid divs
    grid.forEach(div => {
        div.addEventListener('mouseover', highlightSelection);
        div.addEventListener('mousedown', addColorClick);
        div.addEventListener('mouseout', highlightDeselection);
    });

    // assign ids to grid divs
    var grid_number = 0;
    for (let x = 0; x < grid_height; x++) {
        for (let y = 0; y < grid_length; y++) {
            grid[grid_number].setAttribute("id", x.toString() + ';' + y.toString());
            grid[grid_number].style.backgroundColor = "white";
            grid_number += 1;
        }
    }
</script>
</body>
</html>


