<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/listings.js') }}"></script>
    <script src="{{ url_for('static', filename='js/selected.js') }}"></script>
    <div class="headerContainer">

		<h2>Preferences</h2>

	</div>
</head>
<body>
    <div class="container">
        <div class="left" col ="1">
            <ul>
            <li><a href="#home" onclick="switchToHome()">Home</a></li>
            <li><a href="#seating" onclick="switchToSeating()">Create seating</a></li>
            <li><a href="#student" onclick="switchToStudents()">Student lists</a></li>
            <li><a href="#room" onclick="switchToClassroom()">Classrooms</a></li>
            <li><a href="#about" onclick="switchToAbout()">About</a></li></ul>
        </div>
        <div class="center" col="2">
            <h2 id="head_text">List of students:</h2>
            <ul id="var_list">
                <li>Student name <input type="text" id="entryX" value="student preferences"> <p>Here a Tri-state switch for position</p></li>
                <li>Student name 2 <input type="text" id="entryX+1" value="student preferences 2"> <p>Here a Tri-state switch for position</p></li>
            </ul>
        </div>
        <div class="right" col="3">
            <h2>Test functions (can be deleted)</h2>
            <form>
                <label for="filename">New List:</label><br>
                <input type="text" id="filename" name="filename" value="Class">
            </form>
            <button style="width:50%" onclick="AddNewList()">Create</button>
            <button style="width:50%" onclick="addElement('entry')">Add entry :)</button>
            <button style="width:50%" onclick="deleteElement('entry')">Deletes entry :(</button>
            <button style="width:50%" onclick="getLists()">Refresh</button>
        </div>
    </div>
<script>
    var identity = "pref";
    var data = localStorage.getItem('selected');
    window.onload = start();


    //insert code to mix studentlist with preflist
    function getInformation(text){
        var info = $.post("/getpreflists", {"result": text}, function(data) {//code});
    }

    // overwrites entries from clickable list objects.
    function selectElement(event) {return;}
</script>
</body>
</html>