<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seating select</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_old.css') }}">
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/listings.js') }}"></script>
    <script src="{{ url_for('static', filename='js/requests.js') }}"></script>
    <script src="{{ url_for('static', filename='js/seatings.js') }}"></script>
    <div class="headerContainer">

		<h2>Create Seating</h2>

	</div>
</head>
<body>
    <div class="container">
        <div class="left" col ="1">
            <ul>
            <li><a href="#home" onclick="switchToHome()">Home</a></li>
            <li><a href="#seating" onclick="switchToSeating()">Create seating</a></li>
            <li><a href="#student" onclick="switchToStudents()">Student lists</a></li>
            <li><a href="#room" onclick="switchToClassroom()">Classrooms</a></li>
            <li><a href="#about" onclick="switchToAbout()">About</a></li></ul>
        </div>
        <div col="2">
            <h2>List of students:</h2>
            <ul id="stud_list">
            </ul>
        </div>
        <div col="3">
            <h2>List of classrooms:</h2>
            <ul id="room_list">
            </ul>
        </div>
        <div class="right" col="4">
            <h2>Confirm selection</h2>
            <label for="student">Students:</label>
            <a id="student" style="font-weight: bold">None</a>
            <label for="classroom">Classroom:</label>
            <a id="classroom" style="font-weight: bold">None</a>
            <label for="algorithm">Algorithm:</label>
            <select id="algorithm">
                <option value="random_algo">Random</option>
                <option value="constraint_random">Random with restrictions</option>
            </select>
            <button style="width:50%" class="popup" onclick="createInformation('none')">Create new
                <span class="popuptext" id="popup"></span>
            </button>
            <button style="width:50%" class="popup" onclick="createInformation('show')">Show last (not working)
                <span class="popuptext" id="popup_show"></span>
            </button>
        </div>
    </div>
<script>
    var identity = "seating";       // identity to use correct functions in listings.js
    window.onload = fillLists();
</script>
</body>
</html>