<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student lists</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/listings.js') }}"></script>
    <script src="{{ url_for('static', filename='js/requests.js') }}"></script>
</head>
<body>
<!------- SIDEBAR ------->
<aside>
    <a href="#home" onclick="switchToHome()">
        <img src="../static/images/chair.png">
    </a>
    <nav><ul>
        <li><a href="#home" onclick="switchToHome()">Home</a></li>
        <li><a href="#seating" onclick="switchToSeating()">Create seating</a></li>
        <li><a href="#student" onclick="switchToStudents()" class="current">Student lists</a></li>
        <li><a href="#room" onclick="switchToClassroom()">Classrooms</a></li>
        <li><a href="#about" onclick="switchToAbout()">About</a></li>
    </ul></nav>
</aside>

<!------- MAIN BODY ------->
<div class="main">
    <h1>Student Lists</h1>
    <div class="inner">
        <h2>Please Select a Class --></h2>
    </div>
    <h4>Plan: This middle part will change to students_editor when selecting or creating a class</h4>
</div>

<!------- SIDE BODY ------->
<div class="side">
    <h2 id="test">List of all Classes</h2>
    <form>
        <input type="text" autocomplete="off" placeholder="Search..." class="textinput searchbar">
    </form>
    <ul id="var_list">
    </ul>
    <form class="bottomform" onsubmit="createInformation(); return false">
        <label for="filename">Create New Class:</label>
        <div class="tooltipcontainer">
            <div class="tooltip" id="popup_check">Tooltip Text </div>
            <input type="text" autocomplete="off" id="filename" name="filename" placeholder="Class Name" class="textinput">
        </div>
        <input type="submit" value="Create">
    </form>
</div>

<!-- TODO: Currently empty Class name is allowed -->
<script>
    var identity = "student";       // identity to use correct functions in listings.js
    window.onload = getLists();

    const searchInput = document.querySelector('.searchbar');
    searchInput.addEventListener("input", (e) => {searchList(e)});

    const createInput = document.getElementById("filename");
    createInput.addEventListener("input", (e) => {errorPopup(e)});
</script>
</body>
</html>