<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <div class="headerContainer">

		<h2>Students</h2>

	</div>
</head>
<body>
    <div class="container">
        <div class="left" col ="1">
            <li><a href="#home" onclick="switchToHome()">Home</a></li>
            <li><a href="#seating" onclick="switchToSeating()">Create seating</a></li>
            <li><a href="#student" onclick="switchToStudents()">Student lists</a></li>
            <li><a href="#room" onclick="switchToClassroom()">Classrooms</a></li>
            <li><a href="#about" onclick="switchToAbout()">About</a></li>
        </div>
        <div class="center" col="2">
            <h2>List of Students:</h2>
            <ul id="student_lists">
                <li class="elem">Test</li>
            </ul>
        </div>
        <div class="right" col="3">
            <h2>Add new List</h2>
            <form>
                <label for="filename">New List:</label><br>
                <input type="text" id="filename" name="filename" value="Class">
            </form>
            <button style="width:50%" onclick="AddNewList()">Create</button>
            <button style="width:50%" onclick="addElement('entry')">Add entry :)</button>
            <button style="width:50%" onclick="deleteElement('entry')">Deletes entry :(</button>
        </div>
    </div>
<script>
    function switchToClassroom() {
        window.location = "classrooms";
    }

    function switchToHome() {
        window.location = "home";
    }

    function switchToSeating() {
        window.location = "seating";
    }

    function switchToStudents() {
        window.location = "students";
    }

    function switchToAbout() {
        window.location = "about";
    }

    /* Adds given String as Element to the shown list */
    function addElement(text) {
        var node = document.createElement('li');
        node.appendChild(document.createTextNode(text));
        node.className += 'elem';
        document.querySelector('ul').appendChild(node);
    }

    /* Deletes Entry from list !!Does not delete in data yet!! */
    function deleteElement(text) {
        const elem = document.getElementById('student_lists');
        var ul_elements = elem.getElementsByTagName('li');
        for (var i = 0, len = ul_elements.length; i < len; i++) {
            if (text == ul_elements[i].innerHTML) {
                elem.removeChild(ul_elements[i]);
                i--;
            }
        }
        return;
    }

    /*
        Should later iterate over every found list with function given by students.py.
        Then add them via addElement().
    */
    function getLists() {
        $.ajax({
            type: "GET",
            url: "{{ url_for("get_student_lists") }}",
            data: {"classroom" : userinfo},
        })
        return;
    }

</script>
</body>
</html>