<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <div class="headerContainer">

		<h2>Students</h2>

	</div>
</head>
<body>
    <div class="container">
        <div class="left" col ="1">
            <li><a href="#home" onclick="switchToHome()">Home</a></li>
            <li><a href="#seating" onclick="switchToSeating()">Create seating</a></li>
            <li><a href="#student" onclick="switchToStudents()">Student lists</a></li>
            <li><a href="#room" onclick="switchToClassroom()">Classrooms</a></li>
            <li><a href="#about" onclick="switchToAbout()">About</a></li>
        </div>
        <div class="center" col="2">
            <h2>List of Students:</h2>
            <ul id="student_lists">
                <li>Test</li>
                <li><label onclick="addElement('entry')">Add entry :)</label></li>
                <li><label onclick="deleteElement('entry')">Deletes entry :(</label></li>

            </ul>
        </div>
    </div>
<script>
    function switchToClassroom() {
        window.location = "classrooms";
    }

    function switchToHome() {
        window.location = "home";
    }

    function switchToSeating() {
        window.location = "seating";
    }

    function switchToStudents() {
        window.location = "students";
    }

    function switchToAbout() {
        window.location = "about";
    }

    /* Adds given String as Element to the shown list */
    function addElement(text) {
        var node = document.createElement('li');
        node.appendChild(document.createTextNode(text));
        document.querySelector('ul').appendChild(node);
    }

    /* Deletes Entry from list !!Does not delete in data yet!! */
    function deleteElement(text) {
        const elem = document.getElementById('student_lists');
        var ul_elements = elem.getElementsByTagName('li');
        for (var i = 0, len = ul_elements.length; i < len; i++) {
            if (text == ul_elements[i].innerHTML) {
                elem.removeChild(ul_elements[i]);
                i--;
            }
        }
        return;
    }

</script>
</body>
</html>