<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/listings.js') }}"></script>
    <script src="{{ url_for('static', filename='js/selected.js') }}"></script>
    <div class="headerContainer">

		<h2>Students</h2>

	</div>
</head>
<body>
    <div class="container">
        <div class="left" col ="1">
            <ul>
            <li><a href="#home" onclick="switchToHome()">Home</a></li>
            <li><a href="#seating" onclick="switchToSeating()">Create seating</a></li>
            <li><a href="#student" onclick="switchToStudents()">Student lists</a></li>
            <li><a href="#room" onclick="switchToClassroom()">Classrooms</a></li>
            <li><a href="#about" onclick="switchToAbout()">About</a></li></ul>
        </div>
        <div class="center" col="2">
            <h2 id="head_text">List of students in free</h2>
            <ul id="var_list">
            </ul>
        </div>
        <div class="right" col="3">
            <h2>Add new List</h2>
            <form>
                <label for="filename">New List:</label><br>
                <input type="text" id="filename" name="filename" value="Class">
            </form>
            <button style="width:50%" onclick="AddNewList()">Create</button>
            <button style="width:50%" onclick="getInformation(data)">Refresh</button>
        </div>
    </div>
<script>
    var data = localStorage.getItem('selected');
    window.onload = start();

    function getInformation(text){
        var info = $.post("/getstudentlists", {"result": text}, function(data) {addDict(data);});
    }
</script>
</body>
</html>